### Unity ###
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Assets
!/[Aa]ssets/**/*.meta

# Build
/[Bb]uild/

### IDE ###
.vs
.vscode
.idea
*.csproj
*.sln

### Project ###

# Cache
/[Aa]ssets/Materials/BlocksAtlasMaterial.*
/[Aa]ssets/Materials/BlocksAtlasMaterialTransparent.*
/[Aa]ssets/Textures/Block_Atlas.*
